* {
    /* background: #fff; */
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.body {
    width: 100%;
}

.navbar-brand {
    font-size: 30px !important;
    font-weight: bold;
}


/* .navbar-nav>li {
    padding-left: 25px;
    padding-right: 15px;

} */

.about-big {
    z-index: 6;
    font-family: Arial;
    font-size: 90px;
    color: #fdefe9;
    overflow: hidden;
    padding: 0;
    margin: 0;
    left: 0;
    top: 0;
    position: absolute;
}

.nav-link:hover {
    color: darkorange !important
}

/* 
.navbar-collapse {
    padding-left: 100px;
} */



.btn-round {
    background-color: #fba70c;
    border-radius: 50px;
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
}

.gold-text {
    color: #fba70c !important;
    font-size: 2.5rem !important;
    font-weight: bold;
    font-style: normal;
}

.white-header-text {
    color: white !important;
    font-weight: bold;
    font-style: normal;
}

.white-text {
    color: white !important;
    text-align: left;
}

.align-text-center {
    text-align: center !important;
}

.text-center {
    padding-left: 50px !important;
}

.orange-text {
    color: #f4813f !important;
    font-size: 2rem !important;
    font-weight: bold;
    font-style: normal;
}

.orange-bg {
    background-color: #f4813f !important;
}


/* .header-text {
    text-align: left;
    width: 50% !important;
    padding-top: 10% !important;
    padding-left: 5% !important;

} */

.banner-class {
    background-image: url(./assets/banner-bg.png);
    /*    
    
    z-index: 3;*/
    background-position: top right;
    background-repeat: no-repeat;

    width: auto;
    height: auto;
}

.left-bg {
    background-image: url(./assets/left-bg-decor.png);
    background-position: bottom left;
    background-repeat: no-repeat;
}

.left-image {
    width: inherit;
    background-image: url(./assets/left-image.png);
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
    height: inherit;
}

.footer-image {
    background-image: url(./assets/footer-bg.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.vertical-box {
    width: 100%;
    /* max-width: 70%; */
    height: 120px;
    margin-top: 20px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.vertical-box img {
    width: 80px;
    padding-right: 10px;
}

.vertical-box p {
    margin: 0;
    margin-top: 5px;
    color: #888888 !important;
}

.vertical-box h4 {
    margin: 0;
    margin-top: 10px;
    text-align: left;
}

*/ .feature-heading {
    font-weight: bold;
}

.feature-text {
    color: #888888 !important;
}

.btn-contact {
    display: block;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    text-align: center;
    background-color: #f3724e !important;
    color: white;
    border: none;
    border-radius: 500px !important;
}

.jumbotron-container {
    margin-top: 200px;
    padding-left: 60px;
}

.jumbotron {
    position: absolute;
    display: flex;
    margin-top: 0;
    transition: top 0.3s ease;
    max-width: 40%;
    /* min-width: 456px; */
}


.jumbotron h1 {
    font-weight: bolder;
    /* font-size: 80px; */
}

.jumbo-em {
    font-size: 70px;
    font-style: normal;
    font-weight: bolder;
    color: #fba70c
}

.card {
    /* padding-top: 10px; */
    max-width: 420px;
    min-width: 420px;
    text-align: center;
    margin: auto;
}

.pad-bottom {
    padding-bottom: 20px;
}

/* 
.card-body {
    max-width: 420px;
    min-width: 300px;
    max-height: 300px
} */

.my-text-center {
    text-align: center;
}

.jumbotron p {
    color: #888888 !important;
}

.jumbotron {
    background: rgb(255 255 255 / 20%);
    background-color: unset !important;
}

.testimonial-box {
    background-color: #f3724e;
    padding: 20px;
    text-align: center;
    height: 300px;
    width: 350px;
    position: relative;
    /* margin-bottom: 100px;
    margin-left: 300px; */
    text-align: center;
    margin: auto;
    border-radius: 5px;
}

.testimonial-image {
    position: absolute;
    top: -50px;
    left: -50px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: white;
    overflow: hidden;
}

.testimonial-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contact-box {
    max-width: 600px;
    margin: 0 auto;
    padding: 30px;
    background-color: white;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 5px;
}

.form-group {
    padding-bottom: 20px;
    padding-left: 5%;
}

.resize-form {
    width: 100%;
}

.form-group input {
    width: 100%;
    padding: 10%;
    padding-left: 10%;
    border: 1px solid gray;
    border-radius: 4px;
}

.form-group textarea {
    width: 100% !important;
    padding: 10%;
    border: 1px solid gray;
    border-radius: 4px;
    height: 200px;
}

.footer-line {
    text-align: center;
    width: 60%;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgb(247, 222, 222);
}

.testimonial-margin {
    padding-bottom: 7% !important;
}

/* .testimonial-content {
    margin-left: 20px;
} */

.disp-flex {
    display: contents;
    align-items: center;
}

@media (min-width: 1330px) {
    .vertical-box {
        max-width: 80%;
    }
}

@media (max-width: 1320px) {
    .jumbotron-top {
        margin-top: 490px;
        width: fit-content !important;
        max-width: 50% !important;
    }

    /* .banner-class {
        background-size: contain;
    } */

    .pad {
        margin-top: 550px;
    }

}

@media (max-width: 805px) {
    .jumbotron-top {
        margin-top: 490px;
        width: fit-content;
        max-width: 50%;
    }

    .banner-class {
        background-size: contain;
    }

    .pad {
        margin-top: 550px;
    }

    .display-none {
        display: none;
    }


    .vertical-box {
        margin-top: 80px !important;
        margin-bottom: 50px !important;
    }

    .testimonial-box {
        margin-top: 100px !important;
    }
}

@media (max-width: 767px) {
    .pad-bottom-section {
        margin-top: 860px !important;
    }

    .footer-image {
        background-size: cover;
    }

    .testimonial-margin {
        margin-top: 900px !important;
    }
}

@media (max-width: 600px) {

    .resize-mobile {
        width: 90%;
    }

    .jumbotron-top {
        margin-top: 300px;
    }

    .jumbotron-container {
        padding-left: unset !important;
    }

    .pad {
        margin-top: 350px;
    }

    .pad-bottom-section {
        margin-top: 840px !important;
    }

    .left-bg {
        background-size: contain;
    }

    .testimonial-box {
        width: 295px;
    }

    .bottom-contact-text {
        width: fit-content;
    }

    .bottom-footer-text {
        width: fit-content;
    }

    .footer-height {
        height: 130vh !important;
    }

    .disp-flex {
        display: contents;
    }
}

@media only screen and (max-width: 500px) and (min-width: 300px) {
    .testimonial-margin {
        margin-top: 1% !important;
    }
}



@media (max-width: 440) {

    .jumbotron h1 {
        font-size: 0.7rem !important;
    }


}

@media (max-width: 1px) {
    .jumbotron {
        top: 450px;
        width: fit-content;

        max-width: 80%;
    }

    /* .flex-jumbo {
        flex-direction: column-reverse;
    } */
}

/* @media (max-width: 768px) {
    .jumbotron {
        top: 150px;
    }

    
} */