@media screen and (max-width: 769px) {
    .header-row {
        width: 100%;
        background-color: white;
        display: none;
    }

    .header-area {
        position: relative;
        width: 124%;
        height: 98vh;

    }

    .container-fluid {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .container-feature {
        padding-top: 40%;
        width: 124% !important;
    }

    .banner-class {
        background-size: inherit;
    }

    .header-text {
        width: 86% !important;
        padding-left: 22% !important;
        padding-top: 85% !important;
    }

    .jumbotron h1 {
        font-size: 70px !important;
    }

    .jumbo-em {
        font-size: 60px !important;
    }

    .orange-text {
        font-size: 3.2rem !important;
    }

    .jumbotron h2 {
        font-size: 3.3rem;
        font-weight: 900;
        margin-left: 40px;
        padding-left: 21px;
    }

    .pad-left {
        padding-left: unset !important;
    }

    .jumbotron p {
        font-size: 1.2rem !important;
        padding-left: 84px;
    }

    .btn-round {
        padding: 10px;
        font-size: 22px;
        padding-left: 30px;
        padding-right: 30px;
        width: 350px;
    }

    .card {
        width: 185%;
        height: 323px !important;
        margin-top: 35% !important;
    }

    .card-body {
        width: initial;
        margin-top: 20px !important;
    }

    .row-feature {
        margin: 22% !important;
        width: 315px
    }

    .about-big {
        padding: unset !important;
        padding-left: 30px !important;
    }

    .left-bg {
        background-size: contain !important;
        background-position: 0px 1175px !important;
    }

    .mobile-img {
        width: 800px !important;
        margin-left: 100px;
        margin-top: -200px;
    }

    .col-feature {
        width: unset !important;
        margin-top: 35% !important;
    }

    .vertical-box {
        margin-top: 90px;
        width: inherit;
    }

    .vertical-box img {
        width: 100px;
    }

    .vertical-box h4 {
        font-size: 2.3rem !important;
    }

    .vertical-box p {
        font-size: 1.1rem !important;
    }

    .testimonial-box {
        width: 530px;
        height: 280px;
        margin-left: 200px;
    }

    .contact-box {
        padding: 25px;
        max-width: 700px;
        width: 450px;
    }

    .white-text {
        font-size: 1.1rem;
        margin-top: 53px;
        margin-right: -11px;
        text-align: center;
    }

    .white-header-text {
        font-size: 2.5rem;
        margin-top: 20px !important;
        margin-right: -39px !important;
    }

    .testimonial-controls {
        display: none;
    }

    .contact-width {
        width: 400px !important;
    }

    .pad-right {
        padding-left: 20px;
    }
}